.env
*.env
*.pyc
*.ipynb_checkpoints
audio_language_trainer_code.py
data/booklet_foundation_swedish.pdf
/.venv
/outputs
data/grammar_concepts_usage.json
data/vocab_usage.json
snoop.txt
.vscode/




.vscode/PythonImportHelper-v2-Completion.json

**/.claude/settings.local.json
notebooks/app.log
**/wiktionary.db
