accelerate
altair
anki
anthropic                      #for querying the Anthropic models hosted on Google Cloud
beautifulsoup4
diffusers
diffusers
genanki
google-auth
google-cloud-aiplatform
google-cloud-core
google-cloud-texttospeech
google-cloud-translate
ipykernel                       #for jupyter notebook
ipywidgets
librosa                         #for speeding up dialogue
matplotlib
mutagen
numpy
pandas
pycountry
pydantic
pydub
pysnooper
pytest
python-dotenv
reportlab
requests
soundfile                       #for speeding up dialogue
spacy
transformers