altair
anki                           #for connecting to anki database
anthropic                      #for querying the Anthropic models hosted on Google Cloud
azure-cognitiveservices-speech #as google TTS does not have some voices like Persian
beautifulsoup4
fastapi
elevenlabs
genanki
google-auth
google-cloud-aiplatform
google-cloud-core
google-cloud-language
google-cloud-texttospeech
google-cloud-translate
httpx
ipykernel                       #for jupyter notebook
ipywidgets
librosa                         #for speeding up dialogue
matplotlib
mutagen
pandas
proto-plus==1.24.0.dev1         # fix update bug in gcloud components update
pycountry
pydantic
pydub
plotly              #for visualizing the vocab growth   
pysnooper
pytest
python-dotenv
requests
soundfile                       #for speeding up dialogue
tqdm
#spacy>=3.8.0